* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2f2d2d9e;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.container {
  width: 600px;
  padding: 20px;
  background-color: #2f2d2d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.467);
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

form input[type='text'],
form input[type='number'] {
  padding: 10px;
  border: none;
  /* border-radius: 5px; */
  margin-right: 10px;
  flex: 1;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: bac;
  -moz-transition: bac;
  -ms-transition: bac;
  -o-transition: bac;
  transition: background-color 0.5s ease;
}

form button:hover {
  background-color: #45a049;
}

#expenses h2 {
  margin-bottom: 20px;
}

#expenses ul {
  list-style-type: none;
  padding: 0;
}

#expenses li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3f3f3f;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#expenses li span {
  font-weight: bold;
}

.delete-expense {
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.delete-expense:hover {
  background-color: #f44336;
}

#total {
  text-align: right;
}
